@using SocialMediaCampus.HelperViewModel
@using SocialMediaCampus.Models
@using SocialMediaCampus.Class
@model SharedViewModel
@{
    ViewBag.Title = "Shares";
}
<link href="~/lightGallery-master/lightGallery-master/dist/css/lightgallery.min.css" rel="stylesheet" />
<script src="~/scripts/lightgallery.min.js"></script>
<script src="~/scripts/lg-fullscreen.min.js"></script>
<script src="~/scripts/lg-pager.min.js"></script>
<script src="~/scripts/lg-zoom.min.js"></script>



<div class="row">

    <div class="col-md-9">
        <ul class="timeline-list">
            @if (Session["Ogrenci"] != null)
            {
                SiteUsers user = Session["Ogrenci"] as SiteUsers;

                <li class="media media-clearfix-xs">
                    <div class="media-left">
                        <div class="user-wrapper">
                            <img src="~/UploadFile/@user.Resimulr" alt="people" class="img-circle" width="80" />
                            <div><a href="#">@user.FirstName @user.LastName[0].</a></div>
                            <div class="date">@DateTime.Now.Day @DateTime.Now.ToString("MMM") </div>
                        </div>
                    </div>
                    <div class="media-body">
                        <div class="media-body-wrapper">
                            <div class="row">
                                <div class="col-md-10 col-lg-8">
                                    <div class="panel panel-default share clearfix-xs">
                                        <div class="panel-heading panel-heading-gray title">
                                            What&acute;s new
                                        </div>
                                        <div class="panel-body">
                                            <textarea name="txt" id="share" class="form-control share-text" rows="3" placeholder="Lütfen buraya yazınız..."></textarea>
                                        </div>
                                        <div class="panel-footer share-buttons">
                                            <a href="#"><i class="fa fa-photo" data-toggle="modal" data-target="#myModal1"></i></a>
                                            <a href="#"><i class="fa fa-photo hint--top hint--bounce" aria-label="Fotoğraf Yükle" data-toggle="modal" data-target="#myModal"></i></a>
                                            <a href="#"><i class="fa fa-video-camera" data-toggle="modal" data-target="#myModal2"></i></a>
                                            <button type="submit" id="Post" class="btn btn-primary btn-xs pull-right display-none">Gönder</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>

                    </div>
                </li>

                List<SharedModel> shared = Model.SharedList.OrderByDescending(x => x.SharedDate).ToList();

                foreach (SharedModel item in shared)
                {

                    List<Comments> commnents = Model.CommentList.Where(x => x.CommSharedModels.Id == item.Id).OrderByDescending(x => x.CommDate).Take(1).ToList();

                    if (item.Type == "image")
                    {
                        <li class="media media-clearfix-xs">
                            <div class="media-left">
                                <div class="user-wrapper">
                                    <img src="~/UploadFile/@item.Users.Resimulr" alt="people" class="img-circle" width="80">
                                    <div><a href="#">@item.Users.FirstName </a></div>
                                    <div class="date">@item.SharedDate.Day @item.SharedDate.ToString("MMM")</div>
                                </div>
                            </div>
                            <div class="media-body">
                                <div class="media-body-wrapper">
                                    <div class="row">
                                        <div class="media-body">
                                            <div class="media-body-wrapper">
                                                <div class="row">
                                                    <div class="col-md-8">
                                                        <div class="panel panel-default gallery-grid">
                                                            <div class="cover overlay hover cover-image-full light" >
                                                                <img src="~/UploadFile/image/@item.Path" alt="cover" height="242">
                                                                <a href="~/UploadFile/image/@item.Path" data-lightbox="@item.Id" class="overlay overlay-full overlay-hover overlay-bg-black clickimage" role="img" >
                                                                    <span class="v-center">
                                                                        <span class="btn btn-white btn-lg btn-circle"><i class="fa fa-plus"></i></span>
                                                                    </span>
                                                                </a>
                                                            </div>
                                                            <div class="panel-body">
                                                                <div>
                                                                    <p>@item.Text</p>
                                                                </div>
                                                            </div>
                                                            <div class="view-all-comments" >
                                                                <a href="#" data-id="@item.Id" class="Viewall">
                                                                    <i class="fa fa-comments-o"></i>Tümünü Gör
                                                                </a>
                                                                <span>@Model.CommentList.Where(x => x.CommSharedModels.Id == item.Id).Count() Yorum.</span>
                                                            </div>
                                                            <ul class="comments com">

                                                                @foreach (Comments comm in commnents)
                                                                {
                                                                    <li class="media" >
                                                                        <div class="media-left">
                                                                            <a href="">
                                                                                <img src="~/UploadFile/@comm.CommSiteUsers.Resimulr" class="media-object" width="50">
                                                                            </a>
                                                                        </div>
                                                                        <div class="media-body">
                                                                            <div class="pull-right dropdown" data-show-hover="li">
                                                                                <a href="#" data-toggle="dropdown" class="toggle-button">
                                                                                    <i class="fa fa-pencil"></i>
                                                                                </a>
                                                                                <ul class="dropdown-menu" role="menu">
                                                                                    <li><a href="#">Edit</a></li>
                                                                                    <li><a href="#">Delete</a></li>
                                                                                </ul>
                                                                            </div>
                                                                            <a href="" class="comment-author pull-left">@comm.CommSiteUsers.FirstName @comm.CommSiteUsers.LastName[0].</a>
                                                                            <span>@comm.TextComments</span>
                                                                            <div class="comment-date">@comm.CommDate.Day</div>
                                                                        </div>
                                                                    </li>
                                                                }
                                                                <li class="comment-form">
                                                                    <div class="input-group">
                                                                        <span class="input-group-btn">
                                                                            <a data-id="@item.Id" href="" class="btn btn-default commclick"><i class="fa fa-photo"></i></a>
                                                                        </span>
                                                                        <input type="text" class="form-control commtxt " />
                                                                    </div>
                                                                </li>
                                                            </ul>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </li>
                    }
                    else if (item.Type == "images")
                    {

                        <li class="media media-clearfix-xs">
                            <div class="media-left">
                                <div class="user-wrapper">
                                    <img src="~/UploadFile/@item.Users.Resimulr" alt="people" class="img-circle" width="80">
                                    <div><a href="#">@item.Users.FirstName </a></div>
                                    <div class="date">@item.SharedDate.Day @item.SharedDate.ToString("MMM")</div>
                                </div>
                            </div>
                            <div class="media-body">
                                <div class="media-body-wrapper">
                                    <div class="panel panel-default">
                                        <div class="panel-body">
                                            <p>@item.Text</p>
                                            <div class="timeline-added-images light">
                                                @{
                                                    List<UploadMultiFile> multiFile = Model.UploadMultiList.Where(x => x.SharedModelId == item.Id).ToList();
                                                }
                                                @foreach (UploadMultiFile file in multiFile)
                                                {
                                                <a href="~/UploadFile/images/@file.FilePath">
                                                    <img src="~/UploadFile/images/@file.FilePath" alt="@item.Text" width="165" height="120" />
                                                </a>
                                                }
                                            </div>
                                        </div>
                                        <div class="view-all-comments">
                                            <a href="#">
                                                <i class="fa fa-comments-o"></i> View all
                                            </a>
                                            <span>10 comments</span>
                                        </div>
                                        <ul class="comments">
                                            <li class="media">
                                                <div class="media-left">
                                                    <a href="">
                                                        <img src="images/people/50/guy-5.jpg" class="media-object">
                                                    </a>
                                                </div>
                                                <div class="media-body">
                                                    <div class="pull-right dropdown" data-show-hover="li">
                                                        <a href="#" data-toggle="dropdown" class="toggle-button">
                                                            <i class="fa fa-pencil"></i>
                                                        </a>
                                                        <ul class="dropdown-menu" role="menu">
                                                            <li><a href="#">Edit</a></li>
                                                            <li><a href="#">Delete</a></li>
                                                        </ul>
                                                    </div>
                                                    <a href="" class="comment-author pull-left">Bill D.</a>
                                                    <span>What time did it finish?</span>
                                                    <div class="comment-date">14 min</div>
                                                </div>
                                            </li>
                                            <li class="comment-form">
                                                <div class="input-group">
                                                    <span class="input-group-btn">
                                                        <a href="" class="btn btn-default"><i class="fa fa-photo"></i></a>
                                                    </span>
                                                    <input type="text" class="form-control" />
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                                                    }
                                                    else if (item.Type == "text")
                                                    {
                                                        <li class="media media-clearfix-xs">
                                                            <div class="media-left">
                                                                <div class="user-wrapper">
                                                                    <img src="~/UploadFile/@item.Users.Resimulr" alt="people" class="img-circle" width="80" />
                                                                    <div><a href="#">@user.FirstName @user.LastName[0].</a></div>
                                                                    <div class="date">@item.SharedDate.Day @item.SharedDate.ToString("MMM")</div>
                                                                </div>
                                                            </div>
                                                            <div class="media-body">
                                                                <div class="media-body-wrapper">
                                                                    <div class="panel panel-default">
                                                                        <div class="panel-body">
                                                                            <p>@item.Text </p>
                                                                        </div>
                                                                        <div class="view-all-comments">
                                                                            <a href="#">
                                                                                <i class="fa fa-comments-o"></i> View all
                                                                            </a>
                                                                            <span>10 comments</span>
                                                                        </div>
                                                                        <ul class="comments">
                                                                            <li class="media">
                                                                                <div class="media-left">
                                                                                    <a href="">
                                                                                        <img src="images/people/50/guy-5.jpg" class="media-object">
                                                                                    </a>
                                                                                </div>
                                                                                <div class="media-body">
                                                                                    <div class="pull-right dropdown" data-show-hover="li">
                                                                                        <a href="#" data-toggle="dropdown" class="toggle-button">
                                                                                            <i class="fa fa-pencil"></i>
                                                                                        </a>
                                                                                        <ul class="dropdown-menu" role="menu">
                                                                                            <li><a href="#">Edit</a></li>
                                                                                            <li><a href="#">Delete</a></li>
                                                                                        </ul>
                                                                                    </div>
                                                                                    <a href="" class="comment-author pull-left">Bill D.</a>
                                                                                    <span>Hi Mary, Nice Party</span>
                                                                                    <div class="comment-date">21st September</div>
                                                                                </div>
                                                                            </li>
                                                                            <li class="media">
                                                                                <div class="media-left">
                                                                                    <a href="">
                                                                                        <img src="images/people/50/woman-5.jpg" class="media-object">
                                                                                    </a>
                                                                                </div>
                                                                                <div class="media-body">
                                                                                    <div class="pull-right dropdown" data-show-hover="li">
                                                                                        <a href="#" data-toggle="dropdown" class="toggle-button">
                                                                                            <i class="fa fa-pencil"></i>
                                                                                        </a>
                                                                                        <ul class="dropdown-menu" role="menu">
                                                                                            <li><a href="#">Edit</a></li>
                                                                                            <li><a href="#">Delete</a></li>
                                                                                        </ul>
                                                                                    </div>
                                                                                    <a href="" class="comment-author pull-left">Mary</a>
                                                                                    <span>Thanks Bill</span>
                                                                                    <div class="comment-date">2 days</div>
                                                                                </div>
                                                                            </li>
                                                                            <li class="media">
                                                                                <div class="media-left">
                                                                                    <a href="">
                                                                                        <img src="images/people/50/guy-5.jpg" class="media-object">
                                                                                    </a>
                                                                                </div>
                                                                                <div class="media-body">
                                                                                    <div class="pull-right dropdown" data-show-hover="li">
                                                                                        <a href="#" data-toggle="dropdown" class="toggle-button">
                                                                                            <i class="fa fa-pencil"></i>
                                                                                        </a>
                                                                                        <ul class="dropdown-menu" role="menu">
                                                                                            <li><a href="#">Edit</a></li>
                                                                                            <li><a href="#">Delete</a></li>
                                                                                        </ul>
                                                                                    </div>
                                                                                    <a href="" class="comment-author pull-left">Bill D.</a>
                                                                                    <span>What time did it finish?</span>
                                                                                    <div class="comment-date">14 min</div>
                                                                                </div>
                                                                            </li>
                                                                            <li class="comment-form">
                                                                                <div class="input-group">
                                                                                    <span class="input-group-btn">
                                                                                        <a href="" class="btn btn-default"><i class="fa fa-photo"></i></a>
                                                                                    </span>
                                                                                    <input type="text" class="form-control" />
                                                                                </div>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </li>
                                                    }
                                                    else if (item.Type == "video")
                                                    {
                                                        <li class="media media-clearfix-xs" id="september">
                                                            <div class="media-left">
                                                                <div class="user-wrapper">
                                                                    <img src="~/UploadFile/@item.Users.Resimulr" alt="people" class="img-circle" width="80">
                                                                    <div><a href="#">@item.Users.FirstName </a></div>
                                                                    <div class="date">@item.SharedDate.Day @item.SharedDate.ToString("MMM")</div>
                                                                </div>
                                                            </div>
                                                            <div class="media-body">
                                                                <div class="media-body-wrapper">
                                                                    <div class="panel panel-default">
                                                                        <div class="panel-body">
                                                                            @item.Text
                                                                        </div>
                                                                        <!-- 4:3 aspect ratio -->
                                                                        <div class="embed-responsive embed-responsive-16by9" style="width:500px;">
                                                                            <iframe class="embed-responsive-item" src="@item.Path"></iframe>
                                                                        </div>
                                                                        <div class="view-all-comments"><i class="fa fa-comments-o"></i> Be the first to comment</div>
                                                                        <ul class="comments">
                                                                            <li class="comment-form">
                                                                                <div class="input-group">
                                                                                    <input type="text" class="form-control" />
                                                                                    <span class="input-group-btn">
                                                                                        <a href="" class="btn btn-default"><i class="fa fa-photo"></i></a>
                                                                                    </span>
                                                                                </div>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </li>
                                                    }
                                                    else if (item.Type == "file")
                                                    {
                                                        <li class="media media-clearfix-xs ">
                                                            <div class="media-left">
                                                                <div class="user-wrapper">
                                                                    <img src="~/UploadFile/@item.Users.Resimulr" alt="people" class="img-circle" width="80" />
                                                                    <div><a href="#">@user.FirstName @user.LastName[0].</a></div>
                                                                    <div class="date">@item.SharedDate.Day @item.SharedDate.ToString("MMM")</div>
                                                                </div>
                                                            </div>
                                                            <div class="media-body">
                                                                <div class="media-body-wrapper">
                                                                    <div class="panel panel-default">
                                                                        <div class="panel-body">
                                                                            <div class="boxed">
                                                                                <div class="media">
                                                                                    <div class="media-left">
                                                                                        <a href="~/UploadFile/file/@item.Path"><img src="~/UploadFile/pdf.png" alt="" width="80" height="80" /> </a>
                                                                                        <a href="~/UploadFile/file/@item.Path">Dosya Ac</a>
                                                                                    </div>
                                                                                    <div class="media-body">
                                                                                        <p>@item.Text</p>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="view-all-comments ">
                                                                            <a href="#" >
                                                                                <i class="fa fa-comments-o"></i>Tümünü Gör
                                                                            </a>
                                                                            <span>@Model.CommentList.Where(x => x.CommSharedModels.Id == item.Id).Count() Yorum.</span>
                                                                        </div>
                                                                        <ul class="comments com">

                                                                            @foreach (Comments comm in commnents)
                                                                            {
                                                                                <li class="media">
                                                                                    <div class="media-left">
                                                                                        <a href="">
                                                                                            <img src="~/UploadFile/@comm.CommSiteUsers.Resimulr" class="media-object" width="50">
                                                                                        </a>
                                                                                    </div>
                                                                                    <div class="media-body">
                                                                                        <div class="pull-right dropdown" data-show-hover="li">
                                                                                            <a href="#" data-toggle="dropdown" class="toggle-button">
                                                                                                <i class="fa fa-pencil"></i>
                                                                                            </a>
                                                                                            <ul class="dropdown-menu" role="menu">
                                                                                                <li><a href="#">Edit</a></li>
                                                                                                <li><a href="#">Delete</a></li>
                                                                                            </ul>
                                                                                        </div>
                                                                                        <a href="" class="comment-author pull-left">@comm.CommSiteUsers.FirstName </a>
                                                                                        <span>@comm.TextComments</span>
                                                                                        <div class="comment-date">@comm.CommDate.Day</div>
                                                                                    </div>
                                                                                </li>
                                                                            }
                                                                            <li class="comment-form">
                                                                                <div class="input-group">
                                                                                    <span class="input-group-btn">
                                                                                        <a data-id="@item.Id" href="" class="btn btn-default commclick"><i class="fa fa-photo"></i></a>
                                                                                    </span>
                                                                                    <input type="text" class="form-control commtxt " />
                                                                                </div>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </li>
                                                            }

                                                        }

                                                    }


        </ul>

    </div>
</div>




<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                Lütfen bir dosya seçiniz.
            </div>
            <div class="modal-body">
                <textarea type="text" class="form-control" rows="4" placeholder="Lütfen birseyler yazın..." name="text" id="text" value=""></textarea>
                <input type="file" class="form-control" id="file" name="file" value="" />
                <button class="btn btn-success" type="submit" id="uploadSingle" value="">Paylaş</button>
            </div>
            <div class="modal-footer">
                <div id="warning" class="text-center col-md-12"></div>
            </div>
        </div>

    </div>
</div>
<div class="modal fade" id="myModal1" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                Lütfen bir resim seçiniz.
            </div>
            <div class="modal-body">
                <textarea type="text" class="form-control" rows="3" placeholder="Lütfen birseyler yazın..." name="text" id="textMulti" value=""></textarea>
                <input type="file" class="form-control" id="multiImage" name="files" multiple />
                <button class="btn btn-success pull-right" type="submit" id="uploadMultiFile" value="">Paylaş</button>
            </div>
            <div class="modal-footer">
                <div id="warning" class="text-center col-md-12"></div>
            </div>
        </div>

    </div>
</div>



<div class="modal fade" id="myModal2" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                Youtube Linkini aşağdaki text'te yazınız....
            </div>
            <div class="modal-body">
                <textarea type="text" class="form-control" rows="4" placeholder="Lütfen birseyler yazın..." name="text" id="txt" value=""></textarea>
                <input type="text" class="form-control" placeholder="Youtube linki buraya yazınız" name="link" id="link" value="" />
                <br />
                <button class="btn btn-success " type="submit" id="video" value="">Paylaş</button>
            </div>
            <div class="modal-footer">
                <div id="warning1" class="text-center col-md-12"></div>
            </div>
        </div>

    </div>
</div>




<script>


    $(function () {


        $(".light").lightGallery();

        var upload = $("<div></div>").addClass("alert alert-success col-md-12");
        var upload1 = $("<div></div>").addClass("alert alert-warning col-md-12");
        var upload2 = $("<div></div>").addClass("alert alert-danger col-md-12");
        $('#uploadSingle').click(function () {
            var data = new FormData();
            var files = $("#file").get(0).files;
            var $_text = $('#text').val();

            data.append("HelpSectionImages", files[0]);
            data.append("HelpString", $_text);
            $.ajax({
                url: '/MainPage/SaveSingleFile',
                type: "POST",
                processData: false,
                data: data,
                dataType: 'json',
                contentType: false,
                success: function (response) {
                    if (response != null || response != '')
                        $("#warning").append(upload.html(response));
                    $("#file").val('');
                    $("#text").val('');
                    setTimeout(function () {
                        var url = "/MainPage/Shares";
                        window.location.href = url;
                    }, 500);
                },
                error: function (er) {
                    $("#warning").append(upload2.html(er));
                }

            });
            return false;
        });



        $('#uploadMultiFile').click(function () {
            var data = new FormData();
            var totalfiles = document.getElementById("multiImage").files.length;
            for (var i = 0; i < totalfiles; i++) {
                var file = document.getElementById("multiImage").files[i];
                data.append("multiImage", file);
            }
            var $_text = $('#textMulti').val();
            data.append("HelpString", $_text);
            debugger;
            $.ajax({
                url: '/MainPage/SaveMultiImage',
                type: "POST",
                processData: false,
                data: data,
                dataType: 'json',
                contentType: false,
                success: function (response) {
                    if (response != null || response != '')
                        $("#warning").append(upload.html(response));
                    $("#file").val('');
                    $("#text").val('');

                },
                error: function (er) {
                    $("#warning").append(upload2.html(er));
                }

            });
            return false;
        });

        $('#Post').click(function () {
            var $txt = $('#share').val();

            //var $_text = $('#share').val();
            //data.append("HelpString", $_text);
            $.ajax({
                type: "POST",
                url: '/MainPage/TextPost',
                data: { txt: $txt },
                success: function () {

                    setTimeout(function () {
                        var url = "/MainPage/Shares";
                        window.location.href = url;
                    }, 500);
                }


            });
            return false;
        });


        $('.commclick').click(function () {
            var $txt = $('.commtxt').val();
            var $id = $(this).data('id');
            debugger;
            //var $_text = $('#share').val();
            //data.append("HelpString", $_text);
            $.ajax({
                type: "POST",
                url: '/MainPage/PostComments',
                data: { txt: $txt, id: $id }
                //success: function () {


                //}


            });
            return false;
        });

        $('#video').click(function () {
            var $link = $('#link').val();
            var $txt = $('#txt').val();
            //var $_text = $('#share').val();
            //data.append("HelpString", $_text);
            $.ajax({
                type: "POST",
                url: '/MainPage/VideoPost',
                data: { txt: $txt, link: $link },
                success: function (response) {
                    if (response.HasError == true) {
                        $("#warning1").append(upload.html(response.Message));
                        setTimeout(function () {
                            var url = "/MainPage/Shares";
                            window.location.href = url;
                        }, 1000);
                    }
                    else {
                        $("#warning1").append(upload1.html(response.Message));
                    }

                }


            });
            return false;
        });


        $(".Viewall").click(function () {
            var Id = $(this).data('id');
            var t;
            $.ajax({
                url: '/MainPage/GetComments',
                type: "POST",
                data: { id:Id },
                success: function (result) {
                    debugger;
                        var data = result;
                        $.each(data, function (i, item) {
                            debugger;
                            t += ' <li class="media"<div class="media-left">' +
                                ' <a href=""><img src="~/UploadFile/'
                                + item.CommImageUrl +
                                '" class="media-object" width="50"></a>' +
                                '</div> <div class="media-body">' +
                                '<div class="pull-right dropdown" data-show-hover="li">' +
                                 ' <a href="#" data-toggle="dropdown" class="toggle-button">' +
                                 '<i class="fa fa-pencil"></i>  </a>' +
                                 ' <ul class="dropdown-menu" role="menu">' +
                                     ' <li><a href="#">Edit</a></li>' +
                                      '<li><a href="#">Delete</a></li>' +
                                  '</ul></div>' +
                                  '<a href="" class="comment-author pull-left">' + item.CommName + '</a>' +
                                  '<span>' +
                                  item.CommText + '</span>' +
                                  '<div class="comment-date">' + item.CommDate.Day +
                                 '</div></div></li>';
                            debugger;

                        });

                        $(".com").append(t);


                }
            });
        });

    });

</script>




